{# src/WD/PlatformBundle/Resources/views/Advert/index_bye.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma deuxieme page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Bye {{nom}}!</h1>
        
        <p>
            C'est plus Hello World!
        </p>
    </body>
</html>